/* -----------Common CSS------------- */
body {
  font-family: "Comfortaa";
  margin: 0;
}

section {
  padding: 7%;
}

.section-heading {
  text-align: center;
}

/* ---------------Navbar-------------- */
.navbar {
  padding-left: 13.7%;
  padding-right: 13.7%;
  height: 85px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
}

#nav1 {
  background-color: #fff;
  /*whichever you want*/
  opacity: 0.96;
}

.navbar-brand {
  display: contents;
}

.navbar-brand-image {
  width: 15%;
}

.nav-btn {
  border-radius: 35px;
  background-color: #0070f4;
  padding: 5px 15px;
}

.nav-btn a.nav-link {
  color: #fff !important;
  font-size: 0.9rem;
  padding: 0;
}

.nav-item {
  padding: 0 23px;
}

.nav-link {
  font-size: 1.1rem;
}

.navbar-collapse {
  background-color: white;
  text-align: center;
}

/* About */
/* what */
.what {
  margin: 50px 80px;
}

.what-txt-head {
  font-size: 32px;
  margin: 40px 0;
}

.what-txt-para {
  font-size: 15px;
  margin: 10px;
}

.img-1 {
  width: 55%;
  position: relative;
  left: 10%;
}

/* why */
.why {
  margin: 100px 80px;
}

.why-txt-head {
  font-size: 32px;
  margin: 40px 0;
}

.why-txt-para {
  font-size: 15px;
  margin: 10px 2px;
}

.quoted-txt {
  font-family: "Montserrat";
}

.img-2 {
  width: 65%;
  margin: 20px 30px;
  position: relative;
  top: 50px;
}

/* who */
.who {
  margin: 100px 80px;
}

.who-txt-head {
  font-size: 32px;
  margin: 40px 0;
}

.who-txt-para {
  font-size: 15px;
  margin: 10px 2px;
}

.img-3 {
  width: 60%;
  margin: 20px 30px;
  position: relative;
  top: 5%;
  left: 5%;
}

/* when */
.when {
  margin: 100px 80px;
}

.when-txt-head {
  font-size: 32px;
  margin: 40px 0;
}

.when-txt-para {
  font-size: 15px;
  margin: 10px 2px;
}

.img-4 {
  width: 70%;
  margin: 20px 30px;
  position: relative;
  top: 5%;
}

/* where */
.where {
  margin: 100px 80px;
}

.where-txt-head {
  font-size: 32px;
  margin: 40px 0;
}

.where-txt-para {
  font-size: 15px;
  margin: 10px 2px;
}

.img-5 {
  width: 70%;
  margin: 20px 30px;
  position: relative;
  top: 5%;
}

/* fearure  */
.features {
  padding: 0;
}

.feature-txt {
  font-size: 30px;
  margin: 6% 3% 6% 8%;
  padding-top: 30px;
  font-weight: bolder;
}

.feature-btn {
  margin: 10% 10% 3% 10%;
  font-size: 15px;
  border-radius: 10px;
  padding: 8px 40px;
  position: relative;
  top: 30%;
}

/* ---------------Section - How it Works----------- */
#how-it-works {
  background-color: white;
  padding-top: 0;
}

.section-heading {
  font-weight: bolder;
  font-size: 42px;
}

.how-it-works-tile {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  margin: 4%;
  padding: 3%;
  border-radius: 15px;
}

.how-it-works-image1 {
  width: 38%;
  display: block;
  position: relative;
  left: 35%;
}

.how-it-works-image2 {
  width: 38%;
  display: block;
  position: relative;
  top: 1%;
}

.forward-slash {
  position: relative;
  left: 25%;
}

.back-slash {
  position: relative;
  left: 20%;
}

.how-it-works-pricing {
  width: 80%;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 15px;
}

.how-it-works-button {
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 7px;
  text-align: center;
  font-size: 15px;
  border-radius: 10px;
  padding: 8px 40px;
}

.circle {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  padding: 15px;
  background-color: #e8e6e6;
  color: #000;
  text-align: center;
  font: 35px Arial, sans-serif;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
}

.boxes {
  margin: 50px 0;
}

/* circle for holding number */
.circle {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  padding: 15px;
  background-color: #e8e6e6;
  color: #000;
  text-align: center;
  font: 35px Arial, sans-serif;
  float: left;
}

/* boxing around text and circle */
.boxed {
  border: 3px solid #e8e6e6;
  border-radius: 15px;
  padding: 10px 10px;
}

.work1, .work2 {
  width: 200px;
  margin: 20px 30px;
}

.work1 {
  position: relative;
  left: 200px;
  bottom: 150px;
}

.oneyou-banner {
  background-color: #fff;
  border: 2px solid #384ad3;
  border-radius: 15px;
}

.oneyou-para {
  color: Orange;
}

.possibility-text {
  margin: 50px;
}

.poss-head {
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
}

.poss-para {
  text-align: center;
  font-size: 22px;
}

.btn-poss {
  margin: 3% 10% 4% 10%;
  font-size: 15px;
  border-radius: 10px;
  padding: 8px 40px;
  position: relative;
  left: 29%;
}

/* ---------------Section - Live Pages----------- */
.section-heading {
  margin-top: 50px;
}

.boxed-live {
  border: 3px solid #e8e6e6;
  border-radius: 15px;
  margin: 50px 1px 20px 80px;
  padding: 10px;
  box-sizing: border-box;
  width: 82%;
}

.live-page-image {
  width: 95px;
  border-radius: 100%;
  border: 5px solid #fff;
  box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.2);
}

.abdul-txt, .rahul-txt {
  text-align: left;
  margin-top: 10px;
  margin-left: 5px;
  font-size: 16px;
}

/* ---------------Section - Footer----------- */
#foot {
  box-shadow: 0 -4px 5px 0 rgba(0, 0, 0, 0.2);
  padding: 3% 10%;
}

.para-foot {
  text-align: left;
  color: #737373;
  font-size: 0.9rem;
  margin-bottom: 4px;
}

.div-foot-center-aligned {
  display: flex;
  align-items: center;
}

.link-foot, .link-foot:hover {
  color: #737373;
  text-decoration: none;
  font-weight: 900;
}

/* ---------------Media Queries----------- */
@media (max-width: 1330px) {
  .navbar {
    padding: 0 8%;
  }
}

@media (max-width: 992px) {
  body {
    margin: 0;
    padding-top: 20vh;
  }

  section {
    padding: 0;
  }

  .container-fluid{
    padding: 0;
  }

  /* ------Section: Navbar------ */
  .nav-item {
    padding: 3vh 23px;
  }

  .nav-link {
    font-size: 1.5rem;
  }

  .navbar-brand-image {
    width: 30%;
  }

  /* ------Section: About------ */
  .what, .why, .who, .when, .where {
    margin: 2% 0;
  }

  /* ------Section: Features------ */
  .features {
    text-align: center;
  }

  .feature-txt {
    margin: 6% 3%;
    padding-top: 0;
  }

  .feature-btn {
    margin: 2% 3%;
    position: static;
  }

  /* ------Section: How it Works------ */
  .how-it-works-image1 {
    left: 45%;
  }

  .how-it-works-image2 {
    left: 10%;
  }

  .forward-slash {
    left: 10%;
  }

  .back-slash {
    left: 10%;
  }

  .how-it-works-pricing {
    margin: auto;
    margin-bottom: 10%;
  }

  /* ------Section: Endless Possibilities------ */
  .poss-head {
    font-size: 1.5rem;;
  }

  .poss-para {
    font-size: 1rem;
  }

  .btn-poss {
    position: static;
  }

  /* ------Section: Live Pages------ */
  .section-heading {
    font-size: 2rem;
  }

  .boxed-live {
    margin: 3% auto;
    width: 100%;
  }

  .live-page-tile{
    padding: 0 2%;
  }

  .live-page-image {
    width: 120%;
    margin-right: 2%;
  }

  .live-page-tile .col-3{
    display: flex;
    align-items: center;
  }
  /* ------Section: Footer------ */
  .para-foot {
    font-size: 1.1rem;
    text-align: center;
  }

  .foot-email {
    font-size: 0.8rem;
  }

  .div-foot-center-aligned {
    display: block;
  }
}
