
/*logo title and navbar*/
#title{
  background-color: White;
  font-family: "Comfortaa", sans-serif;
  padding-bottom: 0.5%;
  color: #000;
}
.navbar{
  padding: 7px 0 5rem 0;
}
.navbar-brand{
  font-family: "Comfortaa";
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 20px;
}
.nav-btn{
  border-radius: 25px;
}
.nav-item{
  padding: 0 20px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Comfortaa";
}



/*foot*/
#footer{
  margin: 20px;
  font-size: 1rem;
  padding: 10% 0;
  background-color: inherit;
  position: relative;
  bottom: 250px;
}
.foot-icon{
  margin: 20px 10px;
  position: relative;
  left: 42%;
  color: #000;
  width: 30px;
}
.foot-icon:hover{
  color: #0a81ab;
}
.para-foot{
  text-align: center;
}
/*END*/
