/* -----------Common CSS------------- */
body{
  padding-top: 10%;
  font-family: 'Comfortaa', cursive;
}

/* ---------------Navbar-------------- */

.navbar{
  padding-left: 13.7%;
  padding-right: 13.7%;
  height: 85px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
}

#nav1
{
    background-color: #fff; /*whichever you want*/
    opacity: 0.96;
}

.navbar-brand{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-right: 2%;
}

.navbrand-small{
  font-size: 1.2rem;
}

.nav-btn{
  border-radius: 35px;
  background-color: #0070f4;
  padding: 5px 15px;
}

.nav-btn a.nav-link{
  color: #fff !important;
  font-size: 0.9rem;
  padding: 0;
}

.nav-item{
  padding: 0 23px;
}

.nav-link{
  font-size: 1.1rem;
  font-family: 'Comfortaa', cursive;
}


/* ---------------Section - Title----------- */

#title{
  padding: 0 15%;
}

.title-headline{
  font-size: 5rem;
}

.title-caption{
  font-size: 1.2rem;
}

.title-col-left{
  padding: 0;
  padding-right: 6%;
}

.title-col-right{
  padding: 0;
}

.title-btn{
  border-radius: 35px;
  background-color: #0070f4;
  padding: 5px 25px;
}

.title-btn-link{
  color: #fff;
  font-size: 0.9rem;
  padding: 0;
}

.title-img{
  float: right;
  width: 130%;
  position: relative;
  right: 3%;
}

/* ---------------Section - Feature Card----------- */

#feature-card{
  padding: 5% 10%;
}

.feature-tile{
  background-image: url("../images/feature-tile-bg.png");
  background-size: 70% 90%;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size: 1.8rem;
  text-align: center;
}

.feature-card-row{
  margin: 10px 0;
}

.feature-text{
  margin: auto;
  vertical-align: middle;
}

.feature-tile-image{
  width: 85%;
}

.feature-tile-empty{
  text-align: center;
}

/* ---------------Section - Contact-Us-freetrial----------- */
#contact-us-freetrial{
  background-color: #fafafa;
  text-align: center;
  padding: 1%;
}

.contact-text-1{
  font-size: 2.5rem;
  margin: 30px;
}

.contact-text-2{
  font-size: 1.3rem;
  margin: 2.2%;
}

.contact-freetrial-button{
  border-radius: 10px;
  padding: 10px 50px;
  font-size: 0.9rem;
  margin: 10px;
  margin-bottom: 30px;
}

/* ---------------Section - Footer----------- */

#foot{
  box-shadow: 0 -4px 5px 0 rgba(0, 0, 0, 0.2);
  padding: 3% 10%;
}

.para-foot{
  text-align: left;
  color: #737373;
  font-size: 0.9rem;
  margin-bottom: 4px;
}

.div-foot-center-aligned{
  display:flex;
  align-items:center;
}

.link-foot, .link-foot:hover{
  color: #737373;
  text-decoration: none;
  font-weight: 900;
}

/* ---------------Media Queries----------- */
@media (max-width: 1330px) {
  .navbar{
    padding: 0 8%;
  }
}
