/* -----------Common CSS------------- */
body{
  padding-top: 10%;
  font-family: 'Comfortaa', cursive;
}

/* ---------------Navbar-------------- */
.navbar {
  padding: 2% 13.7%;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
}

#nav1 {
  background-color: #fff;
  opacity: 0.96;
}

.navbar-brand {
  display: contents;
}

.navbar-brand-image {
  width: 15%;
}

.nav-btn {
  border-radius: 35px;
  background-color: #0070f4;
  padding: 5px 15px;
}

.nav-btn a.nav-link {
  color: #fff !important;
  font-size: 0.9rem;
  padding: 0;
}

.nav-item {
  padding: 0 23px;
}

.nav-link {
  font-size: 1.1rem;
}

.nav-item-button{
  padding-right: 0;
}

.navbar-collapse {
  background-color: white;
  text-align: center;
}


/* ---------------Section - Title----------- */

#title{
  padding: 0 15%;
}

.title-headline{
  font-size: 5rem;
}

.title-caption{
  font-size: 1.2rem;
}

.title-col-left{
  padding: 0;
  padding-right: 6%;
}

.title-col-right{
  padding: 0;
}

.title-btn{
  border-radius: 35px;
  background-color: #0070f4;
  padding: 5px 25px;
}

.title-btn-link{
  color: #fff;
  font-size: 0.9rem;
  padding: 0;
}

.title-img{
  float: right;
  width: 130%;
  position: relative;
  right: 3%;
}

/* ---------------Section - Feature Card----------- */

#feature-card{
  padding: 5% 10%;
}

.feature-tile{
  background-image: url("../images/feature-tile-bg.png");
  background-size: 70% 90%;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size: 1.8rem;
  text-align: center;
}

.feature-card-row{
  margin: 10px 0;
}

.feature-text{
  margin: auto;
  vertical-align: middle;
}

.feature-tile-image{
  width: 85%;
}

.feature-tile-empty{
  text-align: center;
}

/* ---------------Section - Contact-Us-freetrial----------- */
#contact-us-freetrial{
  background-color: #fafafa;
  text-align: center;
  padding: 1%;
}

.contact-text-1{
  font-size: 2.5rem;
  margin: 30px;
}

.contact-text-2{
  font-size: 1.3rem;
  margin: 2.2%;
}

.contact-freetrial-button{
  border-radius: 10px;
  padding: 10px 50px;
  font-size: 0.9rem;
  margin: 10px;
  margin-bottom: 30px;
}

/* ---------------Section - Footer----------- */

#foot{
  box-shadow: 0 -4px 5px 0 rgba(0, 0, 0, 0.2);
  padding: 3% 10%;
}

.para-foot{
  text-align: left;
  color: #737373;
  font-size: 0.9rem;
  margin-bottom: 4px;
}

.div-foot-center-aligned{
  display:flex;
  align-items:center;
}

.link-foot, .link-foot:hover{
  color: #737373;
  text-decoration: none;
  font-weight: 900;
}

/* ---------------Media Queries----------- */
@media (max-width: 1330px) {
  .navbar{
    padding: 0 8%;
  }
}

@media (max-width: 992px){
  body{
    padding-top: 12%;
  }

  /* ------Section: Navbar------ */
  .nav-item {
    padding: 3vh 23px;
  }

  .nav-link {
    font-size: 1.5rem;
  }

  .navbar-brand-image {
    width: 30%;
  }

  /* ------Section: Title------ */
  #title{
    padding: 8%;
  }

  .title-headline{
    font-size: 3rem;
  }

  .title-img{
    margin: 5%;
    width: 80%;
  }

  /* ------Section: Feature Cards------ */
  #feature-card{
    padding: 5%;
  }

  .feature-tile{
    background-size: 60% 95%;
    min-height: 150px;
  }

  .feature-tile-image{
    width: 50%;
    margin: 7%;
  }

  /* ------Section: Contact Us Free Trial------ */

  .contact-text-1{
    font-size: 1.5rem;
    margin: 20px 0;
  }

  .contact-text-2{
    font-size: 1rem;
  }

  /* ------Section: Footer------ */
  .para-foot{
    font-size: 1.1rem;
    text-align: center;
  }

  .foot-email{
    font-size: 0.8rem;
  }

  .div-foot-center-aligned{
    display: block;
  }

}
