/* -----------Common CSS------------- */

body{
  font-family: "Comfortaa";
}

.section-heading{
  text-align: center;
}

/* ---------------Navbar-------------- */

.navbar{
  padding-left: 13.7%;
  padding-right: 13.7%;
  height: 85px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
}

#nav1
{
    background-color: #fff; /*whichever you want*/
    opacity: 0.96;
}

.navbar-brand {
  display: contents;
}

.navbar-brand-image {
  width: 15%;
}

.nav-btn{
  border-radius: 35px;
  background-color: #0070f4;
  padding: 5px 15px;
}

.nav-btn a.nav-link{
  color: #fff !important;
  font-size: 0.9rem;
  padding: 0;
}

.nav-item{
  padding: 0 23px;
}

.nav-link{
  font-size: 1.1rem;
}

.navbar-collapse{
  background-color: white;
  text-align: center;
}

/* ---------------Section - Option----------- */
.option{
  padding: 20% 20%;
  text-align: center;
  background-color: #fafafa;
  display: flex;
  align-items: center;
}

h1{
  font-weight: bold;
}

.student{
  margin: 5% 10%;
  text-align: center;
  font-size: 15px;
  border-radius: 10px;
  padding: 8px 40px;
}

.professional{
  margin: 5% 9%;
  font-size: 15px;
  border-radius: 10px;
  padding: 8px 40px;
}


/* ---------------Section - Footer----------- */

#foot{
  box-shadow: 0 -4px 5px 0 rgba(0, 0, 0, 0.2);
  padding: 3% 10%;
}

.para-foot{
  text-align: left;
  color: #737373;
  font-size: 0.9rem;
  margin-bottom: 4px;
}

.div-foot-center-aligned{
  display:flex;
  align-items:center;
}

.link-foot, .link-foot:hover{
  color: #737373;
  text-decoration: none;
  font-weight: 900;
}

/* ---------------Media Queries----------- */
@media (max-width: 1330px) {
  .navbar{
    padding: 0 8%;
  }
}

@media (max-width: 992px){
  body{
    padding-top: 15vh;
  }

  /* ------Section: Navbar------ */
  .nav-item {
    padding: 3vh 23px;
  }

  .nav-link {
    font-size: 1.5rem;
  }

  .navbar-brand-image {
    width: 30%;
  }

  /* ------Section: Option------ */
  .option{
    padding: 12% 12%;
    min-height: 70vh;
  }

  .student{
    margin: 3vw;
  }

  .professional{
    margin: 3vw;
  }

  /* ------Section: Footer------ */
  .para-foot{
    font-size: 1.1rem;
    text-align: center;
  }

  .foot-email{
    font-size: 0.8rem;
  }

  .div-foot-center-aligned{
    display: block;
  }

}
