/* -----------Common CSS------------- */
html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}
body {
  font-family: "Comfortaa";
}

section {
  padding: 7%;
}

.section-heading {
  text-align: center;
}

/* ---------------Navbar-------------- */
.navbar {
  padding: 2% 13.7%;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
}

#nav1 {
  background-color: #fff;
  opacity: 0.96;
}

.navbar-brand {
  display: contents;
}

.navbar-brand-image {
  width: 15%;
}

.nav-btn {
  border-radius: 35px;
  background-color: #0070f4;
  padding: 5px 15px;
}

.nav-btn a.nav-link {
  color: #fff !important;
  font-size: 0.9rem;
  padding: 0;
}

.nav-item {
  padding: 0 23px;
}

.nav-link {
  font-size: 1.1rem;
}

.nav-item-button{
  padding-right: 0;
}

.navbar-collapse {
  background-color: white;
  text-align: center;
}
/* Section-Form */
/*Student Plan Heading*/
h3 {
  margin-top: 30px;
  color: #0070f4;
  text-align: center;
  padding-bottom: 1%;
  /* position: relative;
  right: 30px; */
}

/*Overall Form Styling*/
#form {
  background-color: #fafafa;
  text-align: center;
}

.form {
  margin: 5% 5% 10% 10%;
  background-color: White;
  padding-bottom: 80px;
}

fieldset {
  margin: 1%;
}

/*Text Box styling */
.ip-box {
  background-color: #CDF0EA;
  padding: 1.5% 2%;
  margin: 1.2%;
  border-radius: 7px;
  border: 0;
  /* position: relative;
  left: 170px; */
}

::placeholder {
  color: #2940D3;
  opacity: 1;
  font-size: 12px;
}

/* Template buttons styling */
.template-choose {
  color: #2940D3;
  margin-top: 10px;
}


.template-text {
  color: #2940D3;
  font: 13px;
}

table{
  margin-left: 23%;
}
td {
  padding: 0 15px;
}

.radio {
  width: 1.2em;
  height: 1.2em;
  border-radius: 15px;
  background-color: #2940D3;
}

/* Text to book conferencing call */
.finalstep-text {
  margin-top: 25px;
  margin-bottom: 10px;
  text-align: center;
}

/*submit button*/
.submit-btn {
  margin-top: 50px;
  font-size: 15px;
  border-radius: 10px;
  padding: 8px 40px;
  /* position: relative;
  left: 380px; */
}

/* ---------------Section - Footer----------- */

#foot{
  box-shadow: 0 -4px 5px 0 rgba(0, 0, 0, 0.2);
  padding: 3% 10%;
}

.para-foot{
  text-align: left;
  color: #737373;
  font-size: 0.9rem;
  margin-bottom: 4px;
}

.div-foot-center-aligned{
  display:flex;
  align-items:center;
}

.link-foot, .link-foot:hover{
  color: #737373;
  text-decoration: none;
  font-weight: 900;
}

/* ---------------Media Queries----------- */
@media (max-width: 1330px) {
  .navbar{
    padding: 0 8%;
  }
}

@media (max-width: 992px){

  /* ------Section: Navbar------ */
  .nav-item{
    padding: 3vh 23px;
  }

  .nav-link{
    font-size: 1.5rem;
  }

  /* ----Input Boxes----- */
  .txt-box{
    max-width:37.5vw;
    max-height:17vh ;
  }
  .txt-box.sm{
    max-width: 37.5vw;
    max-height: 3vh;
  }

  /* ------Section: Footer------ */
  .para-foot{
    font-size: 1.1rem;
    text-align: center;
  }

  .foot-email{
    font-size: 0.8rem;
  }

  .div-foot-center-aligned{
    display: block;
  }

}


/*END*/
